<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Forgot password</title>
</head>
<body>

<p>
    Hello,
</p>

<p>
    You requested to set a new password.
</p>

<p>
    <a th:href="${verificationUrl}">
        Set a new password
    </a>
</p>

<p>
    If the link does not work, copy and paste this URL into your browser:
</p>

<p>
    <span th:text="${verificationUrl}"></span>
</p>

<p>
    This link will expire soon.
</p>

<p>
    If you did not request to set a new password, let us know immediately.
</p>

</body>
</html>